body {
    background-color: #121212; /* Fundo preto */
    color: #fff; /* Texto branco */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navegacao {
    background: linear-gradient(135deg, #333, #222); /* Gradiente escuro para a navegação */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.navegacao a {
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacao a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 0 20px;
    text-align: justify;
    color: #ddd;
}